header
{
  padding: opx;
  text-align: center;
  background-color: lightgreen;
}
h2 {
  padding: 10px;
  color: green;
}
input {
  background-color: lightyellow;
  color: red;
  padding: 12px;
}
select {
  color: red;
  padding: 4px;
}
option {
  color: black;
}
body {
  background-color: pink;
}
img {
  height: 10%;
  width: 10%;
}
